.section30 {
    display: flex;
    flex-wrap: wrap;
}

.img33 {
    box-sizing: border-box;
    width: 33.3%;
    position: relative;
}

.img33 img {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.section31 {
    padding: 8rem 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

.section311 {
    color: white;
    display: flex;
    flex-direction: column;
}

.section311 button {
    background-color: white;
    margin: auto;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.category {
    display: none;
    color: white;
    box-sizing: border-box;
    opacity: 0.7;
    width: 100%;
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.img33:hover .category {
    display: flex;
}